* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *:before, *:after {
  box-sizing: inherit; }

header {
  background-image: url(../assets/img/imagenprincipal.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 60rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr); }
  header .navbar {
    position: fixed;
    top: 10;
    width: 100%; }
    header .navbar a {
      font-size: 2rem;
      font-family: "Poppins", sans-serif;
      margin-right: 3rem; }
  header .iconos-pastas {
    display: none;
    visibility: hidden; }

.titulo-imagen {
  font-family: "Port Lligat Slab", serif;
  font-size: 5rem;
  text-align: center;
  margin-top: 4rem; }

.primer-imagen {
  width: 100%; }

.segunda-imagen {
  display: block;
  margin-top: 2rem;
  margin-bottom: 4rem; }
  .segunda-imagen img {
    width: 100%;
    height: 60rem; }

.side-main {
  display: none;
  visibility: hidden; }

.texto-quienes {
  text-align: center;
  margin: 3rem; }
  .texto-quienes h1 {
    font-family: var(--fuenteHeading);
    font-size: 5rem; }
  .texto-quienes p {
    font-family: var(--fuenteParrafos);
    font-size: 2rem; }

.side-quienes {
  display: none;
  visibility: hidden; }

.contenedor-pastas {
  display: block; }
  .contenedor-pastas h2 {
    font-family: "Port Lligat Slab", serif;
    font-size: 5rem;
    text-align: center;
    margin-top: 5rem; }
  .contenedor-pastas h3 {
    font-family: "Port Lligat Slab", serif;
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center; }
  .contenedor-pastas .imagenes-masa img {
    display: block;
    justify-content: center;
    width: 100%;
    height: 25rem; }
  .contenedor-pastas .sector-gustos img {
    display: block;
    justify-content: center;
    width: 100%;
    height: 25rem;
    margin-bottom: 2rem; }

.side-pastas img {
  display: none; }

.contenedor-salsas h1 {
  font-family: "Port Lligat Slab", serif;
  font-size: 7rem;
  text-align: center;
  margin-top: 5rem; }

.contenedor-salsas .imagenes-salsas img {
  width: 100%; }

.contenedor-salsas .imagenes-salsas :last-child {
  margin-bottom: 3rem; }

form {
  width: 80%;
  height: auto;
  padding: 16px;
  border-radius: 10px;
  margin: 5%;
  background-color: #ccc; }

fieldset label {
  display: block;
  font-weight: bold; }
  fieldset label select {
    width: 80%; }

fieldset input[type="text"] {
  width: 100%;
  height: 10rem;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block; }

fieldset input[type="number"],
fieldset input[type="tel"] {
  width: 80%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block; }

fieldset input[type="submit"] {
  width: 90%;
  justify-content: center;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  background-color: #287980; }

footer {
  background-image: url(../assets/img/imagenpie.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40rem; }
  footer .row img {
    margin-top: 3rem; }
