:root {
    --verdeoscuro: #287980;
    --blanco: #FFFFFF; 
    --iconos: #F0A04B;
    
    --fuenteHeading: 'Port Lligat Slab', serif;
    --fuenteParrafos: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
}

/* Header */

header {
    background-image: url(../assets/img/imagenprincipal.png); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.navbar {
    position: fixed;
    top: 10;
    width: 100%;
}

.nav-enlace {
    font-size: 3rem;
    font-family: var(--fuenteParrafos);
    margin-right: 3rem;
}

.iconos-pastas {
    display: none;
    visibility: hidden;
}

@media (min-width: 768px) {
    .iconos-pastas {
        display: flex;
        visibility: visible;
        text-align: center;
        font-size: medium;
        font-family: var(--fuenteParrafos);
        gap: 5rem;
        grid-column-start: 1;
        grid-column-end: 2;
        justify-content: center;
        align-items: end;
        margin-top: 50rem;
    }
    .ravioles-icon,
    .sorrentinos-icon,
    .spaghettis-icon {  
        border-radius: 50%;
        padding: 3rem;
        padding-left: 4.5rem;
        padding-right: 4.5rem;
        background-color: var(--iconos);
    }

}

/* Main Index */

.titulo-imagen {
    font-family: var(--fuenteHeading);
    font-size: 7rem;
    text-align: center;
    margin-top: 4rem;
}
.primer-imagen {
    width: 100%;
}

.segunda-imagen {
    display: block;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.img_3 {
    width: 100%;
    height: 60rem;
}

.side-main {
    display: none;
    visibility:hidden;
}

@media (min-width: 768px) {
   .titulo-imagen {
    font-size: 7rem;
    margin-top: 15rem;
   }
   .segunda-imagen {
    display: flex;
   }
   .img_3 {
    width: 33.3%;
    height: 40rem;
   }
}

@media (min-width: 1440px) {
    .contenedor-main {
        display: grid;
        grid-template: repeat(4,auto) / repeat(4,25%);
        grid-template-areas: 
        ". . . item3"
        ". . . item3"
        ". . . item3"
        ". . . item3"
        ;
        row-gap: 5rem;
        column-gap: 5px;
        margin-top: 17rem;
        margin-right: 2px;
        margin-left: 1rem;
    }
    
    .sector-principal {
        width: 90rem;
        margin-left: 3rem;
    }
    
    .primer-imagen {
        width: 100rem;
        margin-bottom: 5rem;
    }
    
    .segunda-imagen {
        display: flex;
        width: 100rem;
        height: 30rem;
    }

    .img_3 {
        height: 45rem;
       }
    
    .side-main {
        display: grid;
        visibility: visible;
        grid-area: item3;
        width: 90%;
        height: 115rem;
        margin-top: 8.5rem;
        
    }
    
    .titulo-imagen {
        
        font-family: var(--fuenteHeading);
        font-size: 8rem;
        font-weight: 400;
        margin-top: 2rem;
        margin-bottom: 7rem;
    }
}

/* Main Quienes Somos */

.texto-quienes {
    text-align: center;
    margin: 3rem;
}
.titulo-quienes {
    font-family: var(--fuenteHeading);
    font-size: 8rem;
}
.parrafo-quienes {
    font-family: var(--fuenteParrafos);
    font-size: 3rem;
}

.side-quienes {
    display: none;
    visibility:hidden;
}


@media (min-width: 1440px) {
   .contenedor-quienes {
        display: grid;
        grid-template-rows: repeat(4,auto);
        grid-template-columns:  5fr 1fr;
        grid-template-areas: 
        "item1 item1 item1 item1 item1  item2"
        "item1 item1 item1 item1 item1 item2"
        "item1 item1 item1 item1 item1 item2"
        "item1 item1 item1 item1 item1 item2"
        ;

    }

    .texto-quienes{
        grid-area: item1;
        text-align: center;
        margin-top: 4rem;
        margin-right: 3rem;
        margin-bottom: 4rem;
        margin-left: 3rem;
    }
    .side-quienes {
        display: grid;
        visibility: visible;
        grid-area: item2;
        width: 80%;
        height: 80%;
        margin-top: 6rem;
        margin-right: 5rem;
        
    }
    }

/* Pastas index */

.imagenes-normal {
    display: flex;
    height: 40rem;
    width: 20rem;
}

.ravioles-normal,
.sorrentinos-normal,
.spaghettis-normal {
    border-radius: 50%;

}

/* footer */


.ig-icon {
    margin-top: 3rem;
}

.ig-icon,
.fb-icon,
.tw-icon {
    margin-top: 3rem;
}

footer {
    background-image: url(../assets/img/imagenpie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40rem;
    
}


@media (min-width: 768px) {
    .ig-icon,
    .fb-icon,
    .tw-icon {
        position: relative;
        margin-top: 12rem;
    }
    
}








/* Haz tu compra */

form {
    margin-top: 15rem;
}

/* le coloque un margen al formulario porque las esferas no dejaban accionar sobre el */