:root {
    --verdeoscuro: #287980;
    --blanco: #FFFFFF; 
    --iconos: #F0A04B;
    
    --fuenteHeading: 'Port Lligat Slab', serif;
    --fuenteParrafos: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
}

/* Header */

header {
    background-image: url(../assets/img/imagenprincipal.png); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80rem;
}

.navbar {
    display: flex;
    justify-content: start;
    gap: 3rem;
    margin-left: 1rem;
}

.navegador-enlace {
    color: var(--blanco);
    font-family: var(--fuenteParrafos);
    font-size: 3.5rem;
    list-style: none;
    text-decoration: none;
}

.logo-box {
    display: flex;
    justify-content: center;
    margin-top: 9rem;
}

.iconos-pastas {
    display: flex;
    justify-content: center;
    margin-top: 9rem;      
    text-align: center;
    font-size: medium;
    font-family: var(--fuenteParrafos);
    gap: 15rem;
}

.ravioles-icon,
.sorrentinos-icon,
.spaghettis-icon {
    border-radius: 50%;
    padding: 3rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    background-color: var(--iconos);

}



/* Main Index*/

.contenedor-main {
    display: grid;
    grid-template: repeat(4,auto) / repeat(4,25%);
    grid-template-areas: 
    ". . . item3"
    ". . . item3"
    ". . . item3"
    ". . . item3"
    ;
    row-gap: 5rem;
    column-gap: 5px;
    margin-top: 17rem;
    margin-right: 2px;
    margin-left: 1rem;
}

.sector-principal {
    width: 90rem;
    margin-left: 3rem;
}

.primer-imagen {
    width: 85rem;
    margin-bottom: 5rem;
}

.segunda-imagen {
    display: flex;
    width: 60rem;
    height: 40rem;
}

.side-main {
    grid-area: item3;
    width: 80%;
    height: 90%;
    margin-top: 4rem;

}

.titulo-imagen {
    
    font-family: var(--fuenteHeading);
    font-size: 6.9rem;
    font-weight: 400;
    margin-bottom: 2rem;
}







/* footer */

footer {
    background-image: url(../assets/img/imagenpie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40rem;
    
}

.iconos-redes  {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 17rem;
    top: 12.5rem;
}





/* Haz tu compra */

form {
    margin-top: 15rem;
}

/* le coloque un margen al formulario porque las esferas no dejaban accionar sobre el */