.contenedor-pastas {
    display: block;
   h2 {
    font-family: $fuenteHeading;
    font-size: 10rem;
    text-align: center;
    margin-top: 5rem;
}
    h3 {
    font-family: $fuenteHeading;
    font-size: 5rem;
    margin-top: 2rem;
    text-align: center;
}
.imagenes-masa {
    img {
        @include block(center, 100%, 30rem);
    }
}
.sector-gustos{
    img {
        @include block(center, 100%, 30rem);
        margin-bottom: 2rem;
    }
}
}
.side-izq,
.side-der {
        display: none;
        visibility: hidden;
}