@media (min-width: 1300px) {
    .contenedor-main {
        display: grid;
        grid-template: repeat(4,auto) / repeat(4,25%);
        grid-template-areas: 
        ". . . item3"
        ". . . item3"
        ". . . item3"
        ". . . item3"
        ;
        row-gap: 5rem;
        column-gap: 2px;
        margin-top: 2rem;
        margin-left: 1rem;
        div {
            width: 90rem;
            margin-left: 1rem;
            h2 {
                font-size: 8rem;
                font-weight: 400;
                margin-top: 10rem;
                margin-bottom: 2rem;
            }
        }
        .primer-imagen:hover{
            -webkit-box-shadow: 10px 9px 15px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 9px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 9px 15px 0px rgba(0,0,0,0.75); ;    
        }
        .segunda-imagen:hover{
            -webkit-box-shadow: 10px 9px 15px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 9px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 9px 15px 0px rgba(0,0,0,0.75); ;
        }
        
        aside {
            display: grid;
            visibility: visible;
            grid-area: item3;
            margin-top: 21.5rem;  
            img {
                width: 30rem;
                height: 85%;
            }
            img:hover{
                -webkit-box-shadow: 10px 9px 15px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 9px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 9px 15px 0px rgba(0,0,0,0.75); ;  
            }
        }
    }
    .contenedor-quienes {
        display: grid;
        grid-template-rows: repeat(4,auto);
        grid-template-columns:  5fr 1fr;
        grid-template-areas: 
        "item1 item1 item1 item1 item1  item2"
        "item1 item1 item1 item1 item1 item2"
        "item1 item1 item1 item1 item1 item2"
        "item1 item1 item1 item1 item1 item2"
        ;
        .texto-quienes{
            grid-area: item1;
            text-align: center;
            margin-top: 5rem;
            margin-right: 3rem;
            margin-bottom: 4rem;
            margin-left: 3rem;
        }
        .side-quienes {
            display: flex;
            visibility: visible;
            grid-area: item2;
            width: 70%;
            height: 75%;
            margin-top: 20rem;
            margin-right: 2rem;
            
        }
    }

    .contenedor-desktop{
        display: grid;
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: 1fr;
        .contenedor-pastas {
            grid-column-start: 2;
            grid-column-end: 3; 
            .imagen-pasta:hover{
                width: 30rem;
                height: 30rem;
            }
            .gustos-posicion{
                img:hover{
                    width: 50rem;
                    height: 50rem;
                }
            }                    
        }          
        .side-izq{
            display: grid;
            visibility: visible;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start:1 ;
            grid-row-end: 2;
            img{
                width: 100%;
                height: 100%;
                }
            }
        .side-der{
            display: grid;
            visibility: visible;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start:1 ;                
            grid-row-end: 2;
            img{
                width: 100%;
                height: 100%;
                }
            }
        }
    }